SECRET_KEY=django-secret-key
DEBUG=False
ALLOWED_HOSTS=host,host,host

EMAIL_HOST_USER=email
EMAIL_HOST_PASSWORD=passwd

YOUTUBE_API_KEY = key

POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB
POSTGRES_PORT=5432
POSTGRES_HOST=localhost