{% extends 'account/base.html' %}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{% block head_title %} Search Youtube Video {% endblock %}
{% block extra_head %}
     <style>
        /* Стили для таблицы */
        table {
            border-collapse: collapse;
            width: 100%;
            background-color: white; /* Черный цвет фона таблицы */
            color: black; /* Белый цвет текста */
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
{% endblock %}
{#</head>#}
{#<body>#}
 {% block content %}
    <h1>Parameter Selector</h1>

    <form method="post">
        {% csrf_token %}
        <p>{{ form.query.label }}
        {{ form.query }}</p>
        <p>{{ form.language.label }}
        {{ form.language }}</p>
        <p>{{ form.region.label }}
        {{ form.region }}</p>
        <p>{{ form.category.label }}
        {{ form.category }}</p>
        <p>{{ form.topic.label }}
        {{ form.topic }}</p>
        <p>{{ form.safe_search.label }}
        {{ form.safe_search }}</p>
        <p>{{ form.video_caption.label }}
        {{ form.video_caption }}</p>
        <p>{{ form.video_definition.label }}
        {{ form.video_definition }}</p>
        <p>{{ form.video_embeddable.label }}
        {{ form.video_embeddable }}</p>
        <p>{{ form.video_paid_product_placement.label }}
        {{ form.video_paid_product_placement }}</p>
        <p>{{ form.video_syndicated.label }}
        {{ form.video_syndicated }}</p>
        <p>{{ form.video_type.label }}
        {{ form.video_type }}</p>
        <p>{{ form.video_license.label }}
        {{ form.video_license }}</p>
        <p>{{ form.video_dimension.label }}
        {{ form.video_dimension }}</p>
        <p>{{ form.date_from.label }}
        {{ form.date_from }}</p>
        <p>{{ form.date_to.label }}
        {{ form.date_to }}</p>
        <button type="submit">Submit</button>
    </form>

    {% if videos %}
        <h2>Video List</h2>
        <form method="get" action="">
            <label for="per_page">Per Page:</label>
            <select id="per_page" name="per_page">
                <option value="10" {% if videos.paginator.per_page == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if videos.paginator.per_page == 20 %}selected{% endif %}>20</option>
                <option value="50" {% if videos.paginator.per_page == 50 %}selected{% endif %}>50</option>
            </select>
            <button type="submit">Apply</button>
        </form>
        <table>
            <tr>
                <th>Video ID</th>                         
                <th>Video Title</th>                      
                <th>Channel ID</th>                       
                <th>Channel Title</th>                    
                <th>Description</th>                      
                <th>Kind</th>                             
                <th>Etag</th>                             
                <th>ID Kind</th>                          
                <th>Published At</th>                     
                <th>Thumbnails Default</th>               
                <th>Thumbnails Medium</th>                
                <th>Thumbnails High</th>                  
                <th>Live Broadcast Content</th>           
                <th>Publish Time</th>                                             
            </tr>
            {% for video in videos %}
            <tr>
                <td>{{ video.video_id }}</td>
                <td>{{ video.video_name }}</td>
                <td>{{ video.channel_id }}</td>
                <td>{{ video.channel_title }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.kind }}</td>
                <td>{{ video.etag }}</td>
                <td>{{ video.id_kind }}</td>
                <td>{{ video.published_at }}</td>
                <td>{{ video.thumbnails_default }}</td>
                <td>{{ video.thumbnails_medium }}</td>
                <td>{{ video.thumbnails_high }}</td>
                <td>{{ video.live_broadcast_content }}</td>
                <td>{{ video.publish_time }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if videos.has_previous %}
                    <a href="?page=1&per_page={{ videos.paginator.per_page }}">first</a>
                    <a href="?page={{ videos.previous_page_number }}&per_page={{ videos.paginator.per_page }}">previous</a>
                {% endif %}

                <span class="current-page">{{ videos.number }} of {{ videos.paginator.num_pages }}.</span>

                {% if videos.has_next %}
                    <a href="?page={{ videos.next_page_number }}&per_page={{ videos.paginator.per_page }}">next</a>
                    <a href="?page={{ videos.paginator.num_pages }}&per_page={{ videos.paginator.per_page }}">last</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
 {% endblock %}
{##}
{#</body>#}
{#</html>#}