<!DOCTYPE html>
<html>
<head>
    <title>Search Youtube Channels</title>
</head>
<body>
    <h1>Parameter Selector</h1>

    <form method="post">
        {% csrf_token %}
        <p>{{ form.query.label }}
        {{ form.query }}</p>
        <p>{{ form.language.label }}
        {{ form.language }}</p>
        <p>{{ form.region.label }}
        {{ form.region }}</p>
        <p>{{ form.topic.label }}
        {{ form.topic }}</p>
        <p>{{ form.channel_type.label }}
        {{ form.channel_type }}</p>
        <p>{{ form.safe_search.label }}
        {{ form.safe_search }}</p>
        <p>{{ form.date_from.label }}
        {{ form.date_from }}</p>
        <p>{{ form.date_to.label }}
        {{ form.date_to }}</p>
        <button type="submit">Submit</button>
    </form>


</body>
</html>