{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %} Email Addresses {% endblock %}

{% block content %}
<div class="container-login">
        <div class="wrap-login">
            <form action="{% url 'account_email' %}" class="login-form" method="post">
                {% csrf_token %}

                <div class="login-h1">
                    E-mail Addresses
                </div>

                <div class="form-desc">
                    The following e-mail addresses with your account:
                </div>
                <div class="radio">
                    <fieldset class="blockLabels">

                          {% for emailaddress in emailaddresses %}
                        <div class="ctrlHolder">
                              <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

                              <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or emailaddresses|length == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

                        {{ emailaddress.email }}
                            {% if emailaddress.verified %}
                            <span class="verified">{% trans "Verified" %}</span>
                            {% else %}
                            <span class="unverified">{% trans "Unverified" %}</span>
                            {% endif %}
                              {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
                        </label>
                        </div>
                          {% endfor %}

                        <div class="buttonHolder custom-radio__btns">
                              <button class="custom-radio__btn secondaryAction" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
                              <button class="custom-radio__btn secondaryAction" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
                              <button class="custom-radio__btn primaryAction" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
                        </div>

                    </fieldset>

                </div>
            </form>
            <form method="post" action="{% url 'account_email' %}" class="add_email">
                {% csrf_token %}
                <div class="login-h1">
                    Add E-mail Address
                </div>

                <div class="wrap-input">
                    {{ form.email|attr:"class:input" }}
                    <label for="email">Email</label>
                </div>


                <div class="container-login-form-btn">
                    <button class="login-form-btn" name="action_add" type="submit">
                        Add E-mail
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}


{% block extra_body %}
<script src="{% static 'templates/js/index.js' %}"></script>
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected email address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
