{% load static %}
{% load widget_tweaks %}

{#{% load account socialaccount %}#}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'templates/css/style.css' %}" rel="stylesheet"/>
    <title></title>
</head>

<body style="padding: 0;" class="opacity-animation">

<div class="container-login">
    <div class="wrap-login">
        <form class="login-form" method="POST" action="{% url 'account_login' %}">

            <div class="login-h1">
                Account Login
            </div>
            {% csrf_token %}
            {{ form.non_field_errors | safe }}
            <br>

            <div class="wrap-input">
                {{ form.login.errors | safe }}{{ form.login|attr:"class:input" }}
                <label for="id_login">Username</label>
            </div>

            <div class="wrap-input">
                {{ form.password.errors | safe }}{{ form.password|attr:"class:input" }}
                <label for="id_password">Password</label>
                <div class="show-password"></div>
            </div>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}


            <div class="container-login-form-btn">
                <button class="login-form-btn" type="submit">
                    Login
                </button>
            </div>

            <div class="form-desc">
                <a class="form-desc-link" href="{% url 'account_reset_password' %}">
                    Forgot Password?
                </a>
            </div>
            <div class="form-desc">
                Dont have an account?
                <a class="form-desc-link" href="{{ signup_url }}">
                    Try creator for free
                </a>
            </div>
        </form>
    </div>
</div>

<!-- Script -->
<script src="{% static 'templates/js/index.js' %}"></script>
</body>

</html>