{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_head %}
    <link type="text/css" href="{% static 'templates/css/style.css' %}" rel="stylesheet" >
{% endblock %}
{% block content %}
{#    <body style="padding: 0;" class="opacity-animation">#}

    <div class="container-login">
        <div class="wrap-login">
            <form class="login-form" method="post" action="{% url 'account_change_password' %}">
                {% csrf_token %}
                <div class="login-h1">
                    Change Password
                </div>

                <div class="wrap-input">
                    {{ form.oldpassword|attr:"class:input" }}
{#                    <input class="input" type="password" name="pass" placeholder="Current Password" required>#}
                    <label for="id_oldpassword">Current Password</label>
                </div>
                {{ form.oldpassword.errors | safe }}

                <div class="wrap-input">
                    {{ form.password1.errors | safe }}{{ form.password1|attr:"class:input" }}
{#                    <input class="input" type="password" name="pass" placeholder="New Password" required>#}
                    <label for="id_password1">New Password</label>
                    <div class="show-password"></div>
                </div>

                <div class="wrap-input">
                    {{ form.password2.errors | safe }}{{ form.password2|attr:"class:input" }}
{#                    <input class="input" type="password" name="pass" placeholder="New Password (again)" required>#}
                    <label for="id_password2">New Password (again)</label>
                    <div class="show-password"></div>
                </div>


                <div class="container-login-form-btn">
                    <button class="login-form-btn" name="action" type="submit">
                        Change Password
                    </button>
                </div>

                <div class="form-desc">
                    <a class="form-desc-link" href="{% url 'account_reset_password' %}">
                        Forgot Password?
                    </a>
                </div>

            </form>
        </div>
    </div>

    <!-- Script -->
{#    <script src="../templates/js/index.js"></script>#}
{#</body>#}
{% endblock %}
