{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{#{% block head_title %}{% trans "Change Password" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>#}
{##}
{#    {% if token_fail %}#}
{#        {% url 'account_reset_password' as passwd_reset_url %}#}
{#        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>#}
{#    {% else %}#}
{#        <form method="POST" action="{{ action_url }}" class="password_reset_from_key">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <input type="submit" name="action" value="{% trans 'change password' %}"/>#}
{#        </form>#}
{#    {% endif %}#}
{#{% endblock %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{% load static %}
{% load widget_tweaks %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'templates/css/style.css' %}" rel="stylesheet"/>
    <title></title>
</head>

<body style="padding: 0;" class="opacity-animation">
{#action="{% url 'account_reset_password' %}"#}
{#<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>#}
    <div class="container-login">
        <div class="wrap-login">
            <form  method="POST" action="{{ action_url }}" class="login-form">
                {% csrf_token %}
                <div class="login-h1">
                    Reset Password
                </div>

                <div class="wrap-input">
                    {{ form.password1 | attr:"class:input" }}{{ form.password1.errors | safe }}
                    <label for="id_password2">Confirm Password</label>
                    <div class="show-password"></div>
                </div>

                <div class="wrap-input">
                    {{ form.password2 | attr:"class:input" }}{{ form.password2.errors | safe }}
                    <label for="id_password2">Confirm Password</label>
                    <div class="show-password"></div>
                </div>

{#                <input type="submit" name="action" value="change password">#}
                <div class="container-login-form-btn">
                    <button class="login-form-btn" >
{#                        value="{% trans 'change password' %}"#}
                        Change Password
                    </button>
                </div>

            </form>
        </div>
    </div>

    <!-- Script -->
    <script src="{% static 'templates/js/index.js' %}"></script>
</body>

</html>