{#{% extends "account/base.html" %}#}
{##}
{#{% load i18n %}#}
{#{% block head_title %}{% trans "Change Password" %}{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h1>{% trans "Change Password" %}</h1>#}
{#    <p>{% trans 'Your password is now changed.' %}</p>#}
{#{% endblock %}#}
{% load static %}
{% load widget_tweaks %}

{#{% load account socialaccount %}#}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'templates/css/style.css' %}" rel="stylesheet"/>
    <title>Change Password</title>
</head>

<body style="padding: 0;" class="opacity-animation">
 <div class="container-login">
        <div class="wrap-login">
            <div>
                <div>
                <div class="login-logo">
                </div>

                <div class="form-center">

                    <div class="login-h1">
                        Change Password
                    </div>

                    <div class="form-desc">
                        Your password is now changed.
                    </div>
                </div>

            </div>

        </div>
    </div>
<!-- Script -->
<script src="{% static 'templates/js/index.js' %}"></script>
</body>

</html>